In [2]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [13]:
# Import dataset

df=pd.read_csv('review_comments_data.csv', index_col=0)
df.head(2)

,Title,Review,Rating
0,Terrible product,Its only 7 months I bought this product. It wa...,1
1,Absolute rubbish!,Automatically Disconnected so many times.,1

In [14]:
# We have 32,081 records and 3 features

In [15]:
df['Rating'].value_counts(normalize=True)

5    0.352348
1    0.253739
4    0.220561
3    0.104190
2    0.069162
Name: Rating, dtype: float64

In [12]:
df.duplicated().sum()

8123