In [119]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import selenium.webdriver
from selenium import webdriver 
from datetime import date 
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC 
from selenium.webdriver.common.by import By
from dateutil.relativedelta import relativedelta
import csv
import linecache
import sys
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import time

import warnings
warnings.filterwarnings('ignore')

In [211]:
# Connect to Driver

driver= webdriver.Chrome(r'C:\working\chromedriver.exe')
driver.maximize_window()

url='https://www.flipkart.com/jbl-c50hi-wired-headset/product-reviews/itm7820dc2c9653e?pid=ACCFAMFQGCNEB8HM&lid=LSTACCFAMFQGCNEB8HMY6STV6&aid=overall&certifiedBuyer=false&sortOrder=NEGATIVE_FIRST'
driver.get(url)

In [121]:
# Close login page
try:
    login_page=driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
    login_page.click()
except: pass

In [226]:
# How many pages to scrap
start=0
end=150

# create empty list to save scrapped data

rating=[]
title=[]
review=[]

In [227]:
start=0
end=200
for page in range(start, end):
    time.sleep(4)
    ratings= driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]/div[1]/div[1]')
    titles= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    reviews=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    
    for i in ratings:
        rating.append(i.text)
    for j in titles:
        title.append(j.text)
    for k in reviews:
        review.append(k.text)
    next_button= driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')
    try:
        driver.get(next_button[1].get_attribute('href'))
        
    except:
        driver.get(next_button[0].get_attribute('href'))
        
        

        
    
len(rating), len(title), len(review)

(2000, 2000, 2000)

In [228]:
pd.DataFrame({"Title":title,"Review":review,"Rating":rating})

,Title,Review,Rating
0,Excellent,Very nice product also delivered at right time...,5
1,Mind-blowing purchase,Good,5
2,Must buy!,It's a nice earphone,5
3,Great product,Good,5
4,Just wow!,Really good product.,5
...,...,...,...
1995,Super!,The best product 499,5
1996,Highly recommended,Sound Clearity is good along with good base qu...,5
1997,Must buy!,Hi quality ear phones from JBL impressed by it...,5
1998,Mind-blowing purchase,Superb,5
1999,Classy product,Nice,5

In [230]:
#boat=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
#realme=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
#oppo=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
#boult1=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
#boult2=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
#noise=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
#boat1=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
#boat2=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
#jbl=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
#jbl2=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
#jbl3=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
jbl4=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})

In [165]:
iphone_data.to_csv("laptop.csv",index=False)

In [231]:
pd.concat([boat,realme,oppo,boult1,boult2,noise,boat1,boat2,jbl,jbl2,jbl3,jbl4], ignore_index = True).to_csv('data.csv')